@model List<DiscStore.Infrastructure.ViewModels.Category.CategoryViewModel>

@if (Model == null || Model.Count.Equals(0))
{
    <p>Brak kategorii</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                <tr>

                    <td>
                        @cat.Name
                    </td>
                    <td>@cat.Description</td>

                </tr>
            }
        </tbody>

    </table>

}
