<div class="col-12 md-form search-form">

    @using (Ajax.BeginForm("Index", "Product", new { category = ViewBag.Category }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "productlist-section" }))
    {
        <div class="search-form__wrapper">
            @Html.TextBox("searchString", null, new { @class = "form-control search-form__input", placeholder = "Szukaj" })
            <i class="fa fa-search"></i>
            <button type="submit" class="search-form__submit"> </button>
        </div>
    }

</div>
<div class="clearfix"></div>
