@charset "UTF-8";

body {
    font: 400 16px "Roboto", sans-serif;
    line-height: 1.6;
    min-width: 320px;
    min-height: 400px;
    position: relative;
    height: 100vh;
    color: #000;
    background-color: #fff;
}
.home-navbar {
    background-color: #F99FA5;
}

    .home-navbar .navbar-brand {
        color: #fff;
    }
    .home-navbar .navbar-nav li > a {
        color: #fff;
    }

        .home-navbar .navbar-nav li > a:hover, .home-navbar .navbar-nav li > a:focus {
            color: #FC7A83;
        }

.menu-left-homepage {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: solid 1px #F99FA5;
}

.main-render-section{
    padding: 10px;
    margin-top: 15px;
    min-height: 700px;
    

    }

.home-footer {
    background-color: #F99FA5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.home-footer__copy {
    margin: 0;
}

.login {
    color: #F99FA5;
    background-color: #4a2f2f;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.login__content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.login__video {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    opacity: 0.3;
}


.crud-index__navbar {
    list-style-type: none;
    padding: 0;
}

.btn-ds {
    background-color: #fff;
    color: #FC7A83;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    overflow: hidden;
}

    .btn-ds:hover {
        background-color: #FC7A83;
        color: #fff;
    }


.form .checkbox input {
    display: none;
}

.form .checkbox label {
    padding-left: 25px;
}

    .form .checkbox label:before {
        content: "";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 0;
        font-size: 20px;
    }

.form .checkbox input:checked ~ label:before {
    content: '\f14a';
}

.welcome-text-ds {
    color:#fff;
    font-weight: 700;
}

.text-thin{
    font-weight:200;
}

#upload-file{
    width: 500px;
    height: 500px;
}