@model DiscStore.Core.Models.Cart

<div class="navbar-text text-center mr-3">
    <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })">
        <i class="fas fa-shopping-cart"></i>
        @Model.Lines.Sum(x => x.Quantity) sztuk,
        @Model.ComputeTotalValue().ToString("c")
    </a>
</div>