
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6 mr-auto">
                <h2>Panel Administracyjny - DiscStore</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mr-auto">
                <h3>Kategorie</h3>
                @Html.ActionLink("Dodaj kategorię", "Create", "Category")
            </div>
        </div>
        <div class="row">
            @Html.Action("Category", "Admin")
        </div>


        <div class="row">
            <div class="col-lg-10 mr-auto">
                <h3>Produkty</h3>
                @Html.ActionLink("Dodaj produkt", "Create", "Product")
            </div>
        </div>
        <div class="row">
            @Html.Action("Product", "Admin")
        </div>
    </div>
</div>











